//Colors

$color-darkest-blue:#000c1c;

$color-primary:#9bcc00;

$color-secondary:#fed428;
$color-secondary-dark:#d4b01e;
$color-secondary-light:#ffcd00;

$color-bg-light:#e7f2c4;
$color-black-text:#121212;


$color-white:#fff;
$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #6c757d;
$color-gray-700: #495057;
$color-gray-800: #343a40;
$color-gray-900: #212529;
$color-black:    #000;

$color-text-muted: #6c757d;




//Font Weights

$font-weight-light: 300;
$font-weight-normal:400;
$font-weight-bold:  700;
$font-weight-bolder:bolder;