.header{

  width: 100%;
  height: 15.5rem;



  @media (max-width: 760px) {
    width: 100%;
    height: 7rem;
  }


  .container{
    margin: 0 auto;
    height: 100%;
  }


  &__top{

    width: 100%;
    height: 10rem;
    padding: 0.5rem 0;
    background-color: white;

    .container{
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
    }

    @media (max-width: 760px) {
      height: 100%;
    }

    &__logo{
      height: 100%;
      margin-right: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

    }


    &__banner{
      max-width: 720px;
      width: 100%;
      max-height: 90px;
      height: 100%;
      background-color: #e8e8e8;
      color: #8f8d8d;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 18px;
      font-family: sans-serif;

      border: 1px solid #c7c7c7;

      @media (max-width: 760px) {
        display: none;
      }
    }

  }

  &__content{


    width: 100%;
    height: 5.5rem;
    background-color: $color-primary;



    @media (max-width: 760px) {
      width: 100%;
      height: auto;
    }


    &__nav{

      width: 100%;
      height: 100%;

      display: flex;
      justify-content: space-between;

      transform-origin: top;
      transition: all 0.3s;
      z-index: 999;

      background-color: $color-primary;
      //display: none;

      @media (max-width: 760px) {
        width: 100%;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 2rem;
        position: absolute;
        top: 6rem;
        height: auto;
      }






      ul{
        width: 73%;
        height: 100%;
        display: flex;

        z-index: 10;
        transform-origin: top;
        transition: all 0.7s;


        @media (max-width: 760px) {
          flex-flow: column;
          width: 100%;
        }



        //-----------------------------dropdown-----------

        .dropdown-content {
          display: none;
          position: absolute;
          left: 0;
          top: 100%;
          background-color: #f9f9f9;
          min-width: 160px;
          width: 100%;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }

        .dropdown-content a {
          padding: 16px;
          text-decoration: none;
          display: block;
          text-align: left;
          color: $color-primary;
          //border-bottom: 1px solid #9bcc00;
        }

        .dropdown-content a:hover {
          background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
          display: block;
        }

        //-----------------------------------------------

        li{
          font-size: 1.8rem;
          height: 100%;
          position: relative;

          display: flex;
          justify-content: center;
          align-items: center;

          color: #fff;



          @media (max-width: 1060px) {
          }

            @media (max-width: 760px) {

            width: 100% !important;
            height: 6rem;
            color: white;
            text-align: left;
            border-bottom: 1px dashed rgba(#fff,0.3);
            font-size: 2rem;
            font-weight: 500;


          }

          a{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            //text-transform: uppercase;
            padding: 0.5rem 1.5rem;
            cursor: pointer;

            @media (max-width: 950px) {
              padding: 0.5rem 1rem;
            }

            @media (max-width: 900px) {
              padding: 0.5rem 0.9rem;
            }

            @media (max-width: 760px) {
              width: 100% !important;
            }



            &:after{
              display: block;
              content: '';
              width: 100%;
              height: 5px;
              background-color: $color-secondary;
              position: absolute;
              bottom: 0;
              left: 0;
              transform: scale(0);
              transition: all 0.2s;
              transform-origin: left;

            }



            &:hover{
              @media (min-width: 760px) {
                &:after{
                  transform: scale(1);
                }
              }

              @media (max-width: 760px) {

              }

            }

          }
        }

        .dropbtn img{
          //width: 1rem;
          height: 1.4rem;
          transform: rotate(90deg);
          margin-left: 0.7rem;
        }
        .dropbtn:after{
          display: none;

        }
      }



      &__socialMedia{

        color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 27%;

        h3{
          font-size: 1.5rem;
        }
        div{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 2rem;
          a{
            margin: 0 1rem;
          }

          @media (max-width: 900px) {
            margin-left: 1rem;

            h3 {
              font-size: 1.7rem;
            }
            a{
              margin: 0 0.8rem;
            }
          }
        }

        @media (max-width: 760px) {
          width: 100%;
          justify-content: center;
          padding: 2rem 0;
          div{
            margin-left: 2rem;
          }
          h3 {
            font-size: 2rem;
          }

          a{
            margin: 0 1rem!important;
          }
        }



      }

    }


  }

}

.hideNav{

  @media (max-width: 760px) {
    transform: scaleY(0);
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding-top: 0;
    position: absolute;
  }

}


.navHide{
  @media (max-width: 760px) {
    //position: absolute;
    //transform: scaleY(0);
    //height: 0;
    //overflow: hidden;
    //position: absolute;
    //z-index: -11;
  }
}


.hamburgerMenu{
  transition: all 0.2s ease-in-out;

  @media (max-width: 760px) {
    position: absolute;
    right: 2rem;
    top: 2.5rem;
    width: 3rem;
    height: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    z-index: 100;
    div {
      width: 100%;
      height: 2px;
      background-color: $color-primary;
    }

  }

}

.makeCross{
  justify-content: center;
  transition: all 0.2s ease-in-out;

  &>:nth-child(1){
    transform: scaleY(0);
  }


  &>:nth-child(2){
    transform: rotate(45deg);
  }

  &>:nth-child(3){
    transform: rotate(-45deg) translateX(2px);
  }

}


