.footer{

  background-color: #2a2a29;
  min-height: 20px;
  color: #ffffff;
  font-size: 1.5rem;

  .container{
    margin: 0 auto;
    max-width: 105rem;
    width: 95%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 ;
    @media (max-width: 1200px) {
      max-width: 117rem;
    }

  }



  p{
    display: flex;
    align-items: center;
  }



}